/.gitattributes          export-ignore
/.gitignore              export-ignore
/.github/*               export-ignore
/appveyor.yml            export-ignore
/doc/.latexindent.yaml   export-ignore

/**             export-subst
